<p>I'm Wes Childs and have been running a systems operations team supporting a high availability cloud-based, Linux system for the last few years. Before that I ran a test team, testing a Linux based clinical database system. </p>

<p>Recently I've been getting into web development and I thought it might be worth documenting my progress on a blog so I have a record for future reference.</p>
	
<p>Technically I'm bionic after having my aorta replaced with a <a href="http://en.wikipedia.org/wiki/Aortic_valve_replacement#Mechanical_valves">mechanical value</a> in 2010. Unfortunately I'm not as impressive as the Six Million Dollar Man but luckily I've got no on-going issues and I tick.</p>

<p>Also, if you ever meet me....Yes, I am really tall, I'm as tall as a door frame, I do hit my head occasionally and I'm 6' 7"</p>

<p>Please feel free to contact me if you any questions - <a href="">contact</a></p>